@keyframes rotate{
	0% {
		transform: rotate3d(0,0,1, 0deg);
	}

	100% {
		transform: rotate3d(0,0,1,360deg);
	}
}

.fx-play-page {
	width: 100%;
	height: 100%;
	position: relative;
	.fx-play-page-content {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		.play-music-info {
			text-align: center;
			transform: translateY(20px);
			.play-music-name {
				color: #333333;
				font-size: 14px;
			}
			.play-music-author {
				color: #888888;
				font-size: 12px;
			}
		}
	}
	.fx-play-page_bg {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		filter: blur(30px) drop-shadow(10px 10px 10px rgba(0,0,0,.8));
		opacity: 0.6;
	}
	.play-progress-bar {
		width: 100%;
		padding: 0px 16px;
	}
	.play-bg-ripple {
		width: 284px;
		height: 284px;
		border-radius: 142px;
		background-color: rgba(255,255,255,0.2);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.play-bg-wrapper {
		width: 100%;
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		.play-bg-firpin {
			width: 92.5px;
			height: 152.5px;
			position: absolute;
			top: 27px;
			left: calc(50% - 36px);
			transition: 1s all linear;
			transform: rotateZ(-40deg);
			transform-origin: 10px 10px;
			transition: all 0.4s linear;
			z-index: 1;
			&.active {
				transform: rotateZ(-10deg);
			}
		}
		.play-bg-cover {
			width: 180px;
			height: 180px;
			border-radius: 90px;
			transition: all 12s linear;
			z-index: 1;
			animation: rotate infinite 12s linear;
			&.pause {
				animation-play-state: paused;
			}
		}
		.play-bg-disc {
			width: 275px;
			height: 275px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	.play-tool-bar {
		width: 100%;
		height: 100px;
		padding: 0px 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.play-main-control {
			flex-basis: 50%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.next-song, .prev-song {
				width: 24px;
				height: 24px;
			}
			.play-status {
				width: 80px;
				height: 80px;

			}
		}
		.play-tool-icon{
			width: 40px;
			height: 40px;
			vertical-align: middle;
		}
	}
}