.app-header {
	width: 100%;
	height: 48px;
	background-color: $theme-color;
	display: flex;
	justify-content: space-around;
	align-items: center;
	.title-item {
		flex: 1;
		height: 100%;
		font-size: 16px;
		color: #fff;
		text-align: center;
		position: relative;
		line-height: 48px;
		.title-active-bar {
			position: absolute;
			bottom: 6px;
			left: 50%;
			transform: translateX(-50%);
			width: 16%;
			height: 4px;
			border-radius: 2px;
			background-color: #fff;

		}
	}
}